<div class="sidebar" data-color="blue">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/smart-trash" class="simple-text">
                Bintot
            </a>
        </div>
        <ul class="nav">
            {{!-- Trash --}}
            <li class="nav-link mb-0">
                <p class="lead text-center mb-0">Trash Bins</p>
            </li>

            <li>
                <a class="nav-link" href="/smart-trash/bin/list">
                    <i class="far fa-trash-alt"></i>
                    <p>Bin List</p>
                </a>
            </li>

            <li>
                <a class="nav-link" href="/smart-trash/bin/real-time">
                    <i class="far fa-clock"></i>
                    <p>Real-Time Data</p>
                </a>
            </li>

            <li>
                <a class="nav-link" href="/smart-trash/bin/weekly">
                    <i class="far fa-hourglass"></i>
                    <p>Weekly Data</p>
                </a>
            </li>

            <li>
                <a class="nav-link" href="/smart-trash/bin/monthly">
                    <i class="far fa-calendar-alt"></i>
                    <p>Monthly Data</p>
                </a>
            </li>

            <li>
                <a class="nav-link" href="/smart-trash/bin/yearly">
                    <i class="far fa-calendar"></i>
                    <p>Yearly Data</p>
                </a>
            </li>

            {{!-- Employee --}}
            <li class="nav-link mb-0">
                <p class="lead text-center mb-0">Employee</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/smart-trash/emp/list">
                    <i class="far fa-id-card"></i>
                    <p>Employee List</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/smart-trash/emp/real-time">
                    <i class="far fa-clock"></i>
                    <p>Real-Time Activity</p>
                </a>
            </li>

        </ul>
    </div>
</div>