<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- CSS Files --}}
    {{> base_css}}
    <title>Bintot — {{title}}</title>
</head>

<body>
    <div class="wrapper">
        {{> dash_sidebar}}
        <div class="main-panel">
            {{> dash_navbar}}
            <div class="content">
                <div class="container">

                </div>
            </div>
        </div>
    </div>
</body>
    {{!-- JS Files --}}
    {{> base_js}}
</html>
