<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>STB — Real-Time Data</title>
    {{!-- CSS Files --}}
    {{> base_css}}
</head>

<body>
    <h2>Smart Trash Bin <span class="badge badge-light">Real-Time</span></h2>
    {{!-- JS Files --}}
    {{> socket_client}}
    {{> base_js}}
</body>

</html>
