<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- CSS Files --}}
    {{> base_css}}
    <link rel="stylesheet" href="/scripts/bootstrap-table/dist/bootstrap-table.min.css">
    <title>STB — Real-Time Data</title>
</head>

<body>
    <div class="wrapper">
        {{> dash_sidebar}}
        <div class="main-panel">
            {{> dash_navbar}}
            <div class="content">
                <div class="container">
                    <div class="jumbotron text-center bg-primary">
                        <h2 class="text-center text-white display-5 mb-0">
                            <i class="far fa-id-badge"></i> <strong>Employee Activity Tracker</strong>
                            <br>
                            <span class="badge badge-warning mt-3">Real Time</span>
                        </h2>
                    </div>

                    <div class="row">
                        <div class="table-responsive">
                            <table id="emp-table" class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Bin ID</th>
                                        <th>Time Activity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>11443529</td>
                                        <td>Allendale</td>
                                        <td>012</td>
                                        <td>11:32:42</td>
                                    </tr>
                                    <tr>
                                        <td>11243582</td>
                                        <td>Othello</td>
                                        <td>014</td>
                                        <td>02:45:12</td>
                                    </tr>
                                    <tr>
                                        <td>11568244</td>
                                        <td>Hamlet</td>
                                        <td>063</td>
                                        <td>16:21:44</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    {{!-- JS Files --}}
    {{> base_js}}
    {{> socket_client}}
    <script src="/scripts/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script>
        let $table = $('#emp-table');
        $table.bootstrapTable({
            classes: "table",
            columns: [{
                field: "emp_id",
                name: "Employee ID",
                sortable: true
            }, {
                field: "emp_name",
                name: "Employee Name",
                sortable: true                
            }, {
                field: "bin_id",
                name: "Bin ID",
                sortable: true                
            }, {
                field: "time",
                name: "Activity Time",
                sortable: true                
            }],
            search: true,
            pagination: true
        });

    </script>

</html>
