<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- CSS Files --}}
    {{> base_css}}
    <title>STB — Real-Time Data</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-3">
            <h2 class="display-5">Smart Trash Bin <span class="badge badge-warning">Real-Time</span></h2>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="card">
                    <div class="card-header">
                        Waste Height
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <canvas id="wasteChart" width="400" height="400"></canvas>
                                <p class="text-center mb-0"><strong class="wastePercentText">00.00%</strong></p>
                            </div>
                            <div class="col-sm-5">
                                <canvas id="humidChart" width="100" height="100"></canvas>
                                <p class="text-center mb-0"><strong class="humidPercentText">00.00%</strong></p>                                
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>Temperature</strong>
                                </div>
                                <div>
                                    <strong class="temperature">00.00C</strong>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>Lid Status</strong>
                                </div>
                                <div>
                                    <strong class="tiltPos badge badge-danger">Closed</strong>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="card-footer text-muted">
                        Updates every 2 seconds.
                    </div>      
                </div>
            </div>
        </div>
    </div>
    {{!-- JS Files --}}
    {{> base_js}}
    {{> socket_client}}

    <script src="/dashboard/js/real-time.js"></script>
</body>

</html>
