<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>STB — Real-Time Data</title>
    {{!-- CSS Files --}}
    {{> base_css}}
</head>

<body>
    <div class="container">
        <h2>Smart Trash Bin <span class="badge badge-warning">Real-Time</span></h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Waste Height</th>
                    <td class="wasteHeight">N/A</td>
                </tr>
                <tr>
                    <th>Temperature</th>
                    <td class="temperature">N/A</td>
                </tr>
                <tr>
                    <th>Humidity</th>
                    <td class="humidity">N/A</td>
                </tr>
                <tr>
                    <th>Tilt</th>
                    <td class="tiltPos">N/A</td>
                </tr>
            </tbody>
        </table>
        
        <div class="row">
            <div class="col-sm-4 offset-md-4">
                <div class="card">
                    <div class="card-header">
                        Waste Height
                    </div>
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="card-footer text-muted">
                        Last updated 3 mins ago
                    </div>      
                </div>
            </div>
        </div>
    </div>
    {{!-- JS Files --}}
    {{> socket_client}}
    {{> base_js}}
    {{> chart_js}}
</body>

</html>
